.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    height: 500px;
}
.item{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 3px;
}
.item1{
   align-self: center; 
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}